@import "tailwindcss";
@plugin "flyonui";
@import "flyonui/variants.css";

@source "../../node_modules/flyonui/flyonui.js"; 

@plugin "@iconify/tailwind4";

/* Import Third-party override css */
/* @import "flyonui/src/vendor/flatpickr.css"; */
/* @import "flyonui/src/vendor/notyf.css"; */
/* @import "flyonui/src/vendor/datatables.css"; */
/* @import "flyonui/src/vendor/editor.css"; */
/* @import "flyonui/src/vendor/fullcalendar.css"; */
/* @import "flyonui/src/vendor/raty.css"; */
/* @import "flyonui/src/vendor/waves.css"; */
/* @import "flyonui/src/vendor/apexcharts.css"; */        

 /*Custom classes tailwindcss*/

.h1 {
    @apply text-base-content text-4xl;
}
.h2 {
    @apply text-base-content text-3xl;
}
.h3 {
    @apply text-base-content text-2xl;
}
.h4 {
    @apply text-base-content text-xl;
}
.h5 {
    @apply text-base-content text-lg;
}
.h6 {
    @apply text-base-content text-base;
}
.form-label{
    @apply text-gray-800 text-sm mb-2 block;
}

 /* transations custom nuxt */
 .layout-enter-active,
.layout-leave-active {
  transition: all 0.2s;
}
.layout-enter-from,
.layout-leave-to {
  filter: grayscale(1);
}

 .page-enter-active,
 .page-leave-active {
   transition: all 0.2s;
 }
 .page-enter-from,
 .page-leave-to {
   opacity: 0;
   filter: blur(1rem);
 }

.rotate-enter-active,
.rotate-leave-active {
  transition: all 0.2s;
}
.rotate-enter-from,
.rotate-leave-to {
  opacity: 0;
  transform: rotate3d(1, 1, 1, 15deg);
}

.fade-enter-active,
.fade-leave-active {
    transition: all 0.2s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0; filter: blur(1rem);
}
